apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-deployment
  labels:
    app: todo-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-api
  template:
    metadata:
      labels:
        app: todo-api
    spec:
      containers:
      - name: api
        image: ghcr.io/takfarinas7/todo-app-api:latest 
        ports:
        - containerPort: 8080 
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: DB_PASSWORD 
        volumeMounts:
        - name: data-storage
          mountPath: /data 
      volumes:
      - name: data-storage
        persistentVolumeClaim:
          claimName: app-pvc 